/* ===================================
   TOOL PAGE
=================================== */

.card{

margin-bottom:24px;

}

.card h2{

margin-bottom:16px;

}

.breadcrumb{

font-size:14px;

margin-bottom:18px;

color:#6B7280;

}

.breadcrumb a{

text-decoration:none;

color:var(--primary);

}

.tool-container{

margin-top:25px;

}

hr{

margin:25px 0;

border:none;

border-top:1px solid #E5E7EB;

}